.formation-container{
  display: flex;
  flex-direction: column;
  min-width: 564px;
  height: 100%;

  h3{
    font-family: Poppins, sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 48px;
    color: #01426A;
  }

  p{
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: #AAAAAA;
  }

  .save-button{
    align-self: center;
    max-width: 55%;
    min-width: 45%;
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-weight: 600;
    padding: 7px 0;
    cursor: pointer;
  }
}

.opa{
  opacity: 40%;
}

.selected-pokemon{
  opacity: 100%;
  background-color: #FFC600 !important;
}

.pokemon-list-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(163.44px, 1fr));
  gap: 10px;

  .rectangle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 163.44px;
    height: 106.35px;
    border-radius: 20px;
    background-color: #F2F2F2;
    cursor: pointer;
  }

  .rectangle img{
    width: 76.64px;
    height: 83.56px;
  }

  p{
    border-radius: 10px;
    background-color: #01426A;
    font-family: Poppins, sans-serif;
    font-size: 12px;
    font-weight: 800;
    line-height: 18px;
    color: #FFFFFF;

    width: 76%;
    padding: 7px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.example-viewport {
  height: 200px;
  width: 200px;
  border: 1px solid black;
}

.example-item {
  height: 50px;
}

// aaa --------------------------------------------------------------------------------------------

.search-form {
  border-radius: 40px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  background: #cdcdcd;
  margin-bottom: 16px;

  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &.focus {
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
  }
}

.search-input {
  flex: 10;

  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: 800;

  background: none;
  color: #5a6674;
  border: none;
  appearance: none;
  outline: none;

  &::-webkit-search-cancel-button {
    appearance: none;
  }
}

.search-button {
  flex: 1;
  margin: 8px 0;
  border: none;
  background: none;
  outline: none !important;

  font-size: 18px;
  font-weight: 600;
  cursor: pointer;


  display: flex;
  justify-content: center;
  align-items: center;
}

.margin-button{
  margin-top: 64px;
}
