<section class="profile-trainer">
  <ng-container *transloco="let t; read: 'team-formation'">
    <h3>{{ (trainerInfo$ | async)?.name | titlecase }}</h3>
    <img [src]="(trainerInfo$ | async)?.imageUrl" alt="trainer profile image" />
    <p>
      <span>{{ t('profile-hobby') }} </span>
      <span>{{ (trainerInfo$ | async)?.favoriteHobby?.[0] }}</span>
    </p>
    <p>
      <span>{{ t('profile-age') }} </span>
      <span>{{ (trainerInfo$ | async)?.age }} {{ t('age') }}</span>
    </p>
    <p *ngIf="!(trainerInfo$ | async)?.isMinor">
      <span>{{ t('profile-dui') }} </span>
      <span>{{ (trainerInfo$ | async)?.dui }}</span>
    </p>
  </ng-container>
</section>
