.profile-trainer{
  background-color: #ffc600;
  width: 392px;
  height: 600px;
  border-radius: 50px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h3{
    font-family: Poppins, sans-serif;
    font-size: 35px;
    font-weight: 700;
    line-height: 53px;
    color: #185A7D;
  ;
  }

  img{
    background-color: #E7EFF5;
    margin: 24px 0 32px 0;
    width: 232px;
    height: 232px;
    border: 14px white solid;
    border-radius: 100%;
    object-fit: cover; // a mi gusto se ve mejor
  }

  p{
    width: 88%;
    font-family: Poppins, sans-serif;
    color: #4B4B4B;
    display: flex;
    justify-content: space-between;

    :nth-child(1){
      font-size: 20px;
      font-weight: 700;
      line-height: 36px;
    }

    :nth-child(2){
      font-size: 18px;
      font-weight: 400;
      line-height: 36px;
    }
  }

}
