<section>
  <header>
    <img src="assets/images/header-logo.png" alt="pokemon-logo" />

    <section class="menu">
      <div [hidden]="true">
        <button mat-raised-button color="accent">PRESS</button>
      </div>

      <div class="language-switch-container">
        <mat-slide-toggle color="primary" (change)="toggleLanguage()">
          <span *ngIf="isSpanish">ES</span>
          <span *ngIf="!isSpanish">EN</span>
        </mat-slide-toggle>
      </div>
    </section>
  </header>

  <app-loader *ngIf="showLoader$ | async"></app-loader>

  <router-outlet></router-outlet>
</section>
