:host {
  margin: 0;
}

.profile-form{
  display: flex;
  flex-direction: column;
  max-width: 420px;
  height: 100%;

  h3{
    font-family: Poppins, sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 48px;
    color: #01426A;
    margin: 0 0 8px 0;
  }

  p{
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: #AAAAAA;
    margin: 0 0 6px 0;
  }
}

.profile-form form{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  button{
    max-width: 70%;
    min-width: 60%;
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-weight: 600;
    padding: 7px 0;
    cursor: pointer;
  }
}

.invisible-content {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

//::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper, .mat-form-field-wrapper {
//  margin: 0 !important;
//  padding: 0 !important;
//}
